body{
    width: 100%;
    height: 100%;
}
.navbar a{
    color: rgb(9, 9, 9);
    font-weight: 700;
}

.nav-item{
    position: relative;
    display: inline-block;
}
.dropdown-menu{
    position: absolute;
      top: 100%;
      left: 0;
      background: white;
      min-width: 160px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
      opacity: 0;
      transform: translateY(-10px);
      transition: all 0.3s;
      pointer-events: none;
      border-radius: 0.5rem;
}

.nav-item:hover .dropdown-menu{
    opacity: 1;
    transform: translateY(0);
    pointer-events:auto;
}

.himg{
    position: relative;
    color: white;
    box-sizing: border-box;
    cursor: pointer;

}
.himg img{
    border-radius: 20px;
}
.himg img:hover{
    opacity: 0.4;
}
.bg-ak{
    position: relative;
    height: 100vh;
    background-image: url(https://img.freepik.com/free-vector/travel-time-background-sketchy-style_23-2147507123.jpg?t=st=1740461862~exp=1740465462~hmac=2413636662087d1c36ca0e884dcaa4682ec737e7572ff6cffd8e2ab8f593a574&w=900);
    background-repeat:no-repeat ;
    background-size: cover;
    z-index: 1;
}
.bg-ak::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, red, yellow );
    opacity: 0.6;
    z-index: -1;
}
.RG-card{
    background-color: whitesmoke;
}
.about-img{
    position: relative;
    color: white;
}
.in-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.in-text p{
    background-color: rgb(231, 165, 165);
    padding: 2px;
    text-align: center;
    font-weight: 500;
}
.card:hover{
    opacity: 0.7;
}
.aboutcont h4{
    color: brown;
}


.aboutcont p{
    line-height: 1.7rem;
}
.widge ul li{
    margin-right: 10px;
    display: inline-block;
}

.site-footer{
    background-color: whitesmoke ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: gray;
    font-weight: 600;
    
}
.site-footer a{
    text-decoration: none;
    color: gray;
}
.site-footer a:hover{
    color: rgb(34, 37, 230);
    
}